.contanier{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px ;
}
.contanier hr{
    height: 2px;
    border: none;
    background: #707070;
}
.contanier h2{
    font-size: 27px;
    font-weight: 500;
}
.contanier ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.contanier button{
    margin: auto;
    width: 250px;
    height: 65px;
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.contanier .index{
    margin: auto;
    font-size: 18px
}
.contanier .score{
    font-size: 28px;
    margin: auto;
}
